section.popup{
    position: fixed;
    background: #c5ccd8b5;
    /* height: 100%; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

section.popup>div{
    background: #ffffff;
    height: auto;
    width: 50%;
    border-radius: 15px;
    color:black;
    padding: 20px;

}

span svg{
    width: 1.5rem;
    height: 1.5rem;
    color: #c2b6b6;
    
}

div.form-header{
    display: flex;
    align-items: center

}
div.form-header img{
    width: auto;
    height: 50px;
    margin-right: 15px;
    
}

div.form-header p{
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: rgba(26,32,44,var(--text-opacity));
}

p.error-success-msg{
    /* text-align: center; */
    color:#c73d3d;
    font-weight:bolder;
    margin-top: 20px;
}
div.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 19px;
}

form div{
    display: flex;
    flex-direction: column;
    /* align-items: center */
    margin-bottom: 15px;


}

form div label{
    margin-bottom: 5px;
}

form div input{
    height: 30px;
    padding: 20px 0px 20px 40px;
    border-style: solid;
    border-radius: 6px;
    color: black;
}

span.input{
    position: absolute;
    transform: translate(50%, 120%);
}

div.recovery{
    margin-bottom: 5px;
}
form{
    width:100%;
}
form div textarea{
    max-width: 100%;
    min-width: 100%;
    height: 120px;
    border-style: solid;
    border-radius: 6px;
    padding: 20px 20px 20px 40px;
}

span.textarea{
    position: absolute;
    transform: translate(50%, 240%);
}

form h6{
    font-size: 12px;
    font-weight: 300;
}

form h6 i{
    margin-right: 5px; 
}

.proceed-button2{
    /* border: 3px solid red; */

    background-color: none;
    background:#3182ce;
    border: none;
    color: #ffffff;
    font-weight: bolder;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px 30px;
    margin-top: 10px;
    font-family: Montserrat;


}

div.proceed-button{
    background:#3182ce;
    border-radius: 6px;
    flex-direction: row;
    align-items: center;
    /* justify-items: center; */
    justify-content: center;
    padding: 10px;
    margin-top: 13px;
    color:white;
    text-transform:uppercase;
}
div.proceed-button  svg{
    color:white;
    width: 1.2rem;
    height: 1.5rem;
    margin-left: 10px;
}

div.disabled{
    background: #5e83a0;
    cursor: none!important;
}
div.proceed-button:hover{
    cursor: pointer;
    background: #5e83a0;
    transition: all 0.5s ease-in;
}    

div.cancel{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 10px;
}
div.cancel p:hover{
    cursor: pointer;
    background: #c73d3d;
    transition: all 0.5s ease-in;
}

div.disabled-cancel p{
    background: #c73d3d;
    cursor: none!important;
}

div.cancel p{
    background-color: #e53e3e;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-radius: 6px;
    color: white;
}

div.success-message-wrapper{
    height: 50%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.success-message{
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    align-items: center;
   
    /* height:200px; */
  
}

div.success-message img{
    height: 100px;
    width: auto;
}

div.success-message h1{
    font-weight: 900;
    margin: 20px 0;
    color: #ba6d09;
}

div.success-message h4{
    margin-bottom: 20px;
    font-weight: 300;
    color: #79582d;
}

div.success-message p{
    background: #0c0c0c;
    color: burlywood;
    padding: 10px 10px;
    border-radius: 6px;
    cursor:pointer;
}

.info-div{
    display: flex;
    align-items: center;
 font-weight: bolder;
    color: #0B8A0A;
    margin-bottom: 10px;
}
.checkIcon{
    color: #0B8A0A;
    margin-right: 5px;
    font-weight: bolder;
}